.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.main {
  flex: 1;
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.noPadding {
    padding: 0 !important;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
    padding-top: 3.5rem;
  }
}

