.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
